<div class=" content-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 id="h1-title" class="display-4">NG6 BASE</h1>
  <p class="lead">This is an Angular project with the  basic tooling to start developing.</p>
</div>


<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Communication between components</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title">Module-1</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>This module shows the communication of  a shared component(shared folder) and the component inside the  module-1(module-1/component1) </li>
      </ul>
    </div>
    <div class="card-footer">
        <button id="btn-m1" type="button" class="btn btn-lg btn-block btn-success" routerLink="/m1">Go to the module-1</button>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Calling  services</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title ">Module-2</h1>
      <ul class="list-unstyled mt-3 mb-4">
          <li>This module shows the calling to  a couple of stubbed services(module2/services/)</li>
      </ul>
    </div>
    <div class="card-footer">
        <button  id="btn-m2" type="button" class="btn btn-lg btn-block btn-success" routerLink="/m2">Go to the module-2</button>
    </div>
  </div>
</div>
